<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
        <title>Taylor's Portfolio</title>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="https://www.creative-tim.com"></a>
                    <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" *ngIf="!isDocumentation()">
                            <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" target="_blank">
                                <i class="fa fa-github"></i>
                                <p class="d-lg-none">GitHub</p>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="!isHome()">
                            <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i>Components</a>
                            <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                        </li>
                        <li class="nav-item" *ngIf="isDocumentation()">
                            <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="page-header section-dark" style="background-image: url('');">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h1 class="presentation-title">Taylor Hedrick</h1>
                        <div class="fog-low">
                            <img src="assets/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="assets/img/fog-low.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png');"></div>
        </div>

        <main>
            <section class="aboutMe">
                <h2><strong>ABOUT ME</strong></h2>
                <p>I am currently a Junior pursuing a bachelors degree in Graphic Information Technology at Arizona State University <br> with a primary focus in Web Development.
                     My coding journey started about a year and a half ago when I attended a HacKSU event, which is a club<br> at Kent State University. After that I
                     immediately fell in love with coding and changed my major from Psychology to GIT. My passion<br> lies in Front-end Web Development, and that is what
                     I am pursuing as a career.</p>
            </section>

                <section class="skillSection">
                <h2 class="skills">SKILLS</h2>
                <div class="row mx-auto">
                    <section class="col-md-4 knowledge card column">
                        <h3><strong>Frameworks:</strong></h3>
                            <ul class="knowList">
                                <li>Javascript</li>
                                <li>Typescript</li>
                            </ul>
                    </section>

                    <section class="col-md-4 skills card column">
                        <ul class="skillList">
                            <li>HTML</li>
                            <li>CSS</li>
                            <h4 class="adobeHead">Adobe CS:</h4>
                            <li>Illustrator</li>
                            <li>Photoshop</li>
                            <li>XD</li>
                            <li>InDesign</li>
                            <li>Premiere</li>
                            <li>Lightroom</li>
                        </ul>
                    </section>
        
                    <section class="col-md-4 userExperience card column">
                        <h3><strong> Experience Methods: </strong></h3>
                            <ul class="uxList">
                                <li>Heuristic Evaluation</li>
                                <li>Usability Testing</li>
                                <li>Gathering Qualitative and Quantitative Data</li>
                                <li>Surveys</li>
                            </ul>
                    </section>
                </div>
            </section>

            <section class="courses">
                <h2>RELEVANT COURSE LIST</h2>
                <ul class="courseList">
                    <li>GIT135 Graphic Communications</li>
                    <li>GIT210 Creative Thinking and Design</li>
                    <li>GIT215 Introduction to Web Authoring</li>
                    <li>GIT337 Web Content Design</li>
                    <li>GIT340 Info Design and Usability</li>
                    <li>GIT417 Advanced Web Markup (Currently Taking)</li>
                </ul>
                <h3 class="gpaC"><strong>Cummulative GPA: 3.38</strong></h3>
                <h3 class="gpaM"><strong>Major GPA: 3.41</strong></h3>
            </section>

            <div>
                <section class="projects">
                    <h2 class="projectHead">PROJECTS</h2>
                        <p class="col-md-6 prototypeSum">For one of my classes I had to use Adobe XD to create an app prototype.<br> 
                            This project was the first prototype that I had ever made, and it was <br> very enjoyable to work through and make.<br>
                            <button onclick="location.href='https://xd.adobe.com/view/f85e4ad5-fde5-4fe5-4d4d-abad48553c69-8e6f/?fullscreen'" type="button" class="btn btn-danger btn-round myBtn">Prototype</button>
                        </p>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://www.creative-tim.com">Taylor Hedrick</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </body>
</html>
